@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f7fafc; /* Light mode background */
  color: #1a202c; /* Light mode text color */
  margin: 0;
  padding: 0;
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
   /* font-family: 'Inter', sans-serif;  */
   /* font-family: 'Raleway', sans-serif; */
}

/* Global styles for a consistent look */
html, body {
  height: 100%;
  box-sizing: border-box;
}

